@model InventoryManagement.Models.Unit

@{
    ViewData["Title"] = "GetDetails";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>GetDetails</h1>



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Description)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Description)</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>            
            <td> @Html.DisplayFor(model => model.Name)</td>
            <td> @Html.DisplayFor(model => model.Description)</td>
        </tr>
       
    </tbody>
</table>



<div>



    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
